@font-face {
  font-family: 'NotoSerif_SemiCondensed';
  src: url('/newsite/fonts/NotoSerif_SemiCondensed-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  display: swap;
}

@font-face {
  font-family: 'NotoSerif';
  src: url('/newsite/fonts/NotoSerif-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  display: swap;
}

@font-face {
  font-family: 'DelaGothicOne';
  src: url('/newsite/fonts/DelaGothicOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  display: swap;
}

@font-face {
  font-family: 'FiraCode';
  src: url('/newsite/fonts/FiraCode-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  display: swap;
}

@font-face {
  font-family: 'NotoSans';
  src: url('/newsite/fonts/NotoSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  display: swap;
}

/* Media query for all types of media */
@media all {
  /* Add any global styles if needed */
}
