 .header {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: #00FF00;
    position: relative; /* 添加相对定位 */
}
.site-title {
    margin: 0;
    font-size: 1.5em;
    font-weight: bold;
    color: #00FF00;
    font-family: "Courier New", monospace;
}
a {color: #00FF00;}
.logo {
    width: 50px; /* logo尺寸调整 */
    height: auto;
    margin-right: 10px;
}
    .table-container {
	text-align: center; 
        margin-top: 150px; /* 垂直居中的间距 */
        justify-content: center;
        align-items: center;
        padding-bottom: 100px;
    }
p {
            align-items: center;
        }

        p span {
            margin: 0 10px;
        }
    table {
        border-collapse: collapse;
        border: 1px solid #00FF00;
        width: 90%; /* 调整表格宽度 */
        max-width: 1000px; /* 添加最大宽度，以防止过于宽大屏幕上显示不友好 */
        margin: 0 auto; 
        background-color: rgba(0, 0, 0, 0.5);
    }
    th, td {
        border: 1px solid #00FF00;
        padding: 13px;
        text-align: center;
    }
    th {
        background-color: #000;
        color: #00FF00;
    }
.centered-green-bold-text {
    color: green;       /* 设置文本颜色为绿色 */
    font-weight: bold;  /* 设置文本加粗 */
    font-size: 24px;    /* 设置文本字体大小为24像素 */
    text-align: center; /* 设置文本居中对齐 */
}

	    .centered-white-bold-text {
    color: #FFFAFA;       
    font-weight: bold;  
    font-size: 30px;    
    text-align: center; 
}
    .input-container {
        text-align: center;
        margin-top: 20px;
    }

    input[type="text"] {
        padding: 5px;
        font-family: "Courier New", monospace;
    }

    button {
        padding: 5px 10px;
        background-color: #333;
        color: #00FF00;
        border: none;
        cursor: pointer;
    }

    .content {
        display: none;
    }
    .page-active {
        display: block;
    }
	    body {
        margin: 0;
        padding: 0;
        font-family: "Courier New", monospace;
        background-color: #000;
        
        background-size: cover;
        color: #00FF00;
        overflow: hidden;
	    overflow-y: scroll; /* 强制生成竖直滚动条 */
	    background-image: url('https://i.postimg.cc/hjjc05wG/indexbgimg.png');
    }
